body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  background-color: #9e769b;
}

#body-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.common-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  gap: 0.7em;
  border-radius: 1em;
  box-shadow: 0 0 2em #000000bb;
}

.inicio {
  grid-column: span 2;
  background-color: #b9b9b9;
}

.item {
  background-color: #9c6798;
}

#image-input {
  display: none;
}

.select-button,
.copy-button,
.download-button,
.link-button {
  padding: 0em 1em;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #d3d3d3;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 0.6em;
}

textarea {
  padding: 1em;
  box-sizing: border-box;
  border: 0.3em solid #ad31a3;
  border-radius: 0.6em;
}
