/* Paleta de colores */
:root {
  --color-50: #f9f6f9;
  --color-100: #f4eff4;
  --color-200: #eae0e9;
  --color-300: #d9c8d7;
  --color-400: #c1a5bd;
  --color-500: #ab89a5;
  --color-600: #946e8c;
  --color-700: #7d5974;
  --color-800: #63485c;
  --color-900: #594253;
  --color-950: #33242f;
}

body {
  width: fit-content;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  background-color: var(--color-50);
}

.common-style {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em #000000bb;
  background-color: var(--color-200);
}

#select-button,
#copy-button,
#clean-button,
#download-button,
#link-button {
  background-color: var(--color-500);
  color: #ffffff;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

#select-button:hover,
#copy-button:hover,
#clean-button:hover,
#download-button:hover,
#link-button:hover {
  cursor: pointer;
  background-color: var(--color-600);
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

#select-button:active,
#copy-button:active,
#clean-button:active,
#download-button:active,
#link-button:active {
  background-color: var(--color-700);
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

#image-input {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

textarea {
  height: 100%;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

/* Estilos para pantallas con un minimo de 601px de ancho */
@media only screen and (min-width: 601px) {
  #body-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    gap: 1em;
  }

  .inicio {
    grid-column: 2 span;
  }
}

/* Estilos para pantallas con un maximo de 600px de ancho */
@media only screen and (max-width: 600px) {
  #body-div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 1em;
  }
}
