/* Paleta de colores */
:root {
  --color-50: #f7f7f8;
  --color-100: #efeef0;
  --color-200: #dbd9de;
  --color-300: #bcb8c1;
  --color-400: #96919f;
  --color-500: #797483;
  --color-600: #635d6c;
  --color-700: #55505c;
  --color-800: #46414b;
  --color-900: #3c3941;
  --color-950: #28262b;
}

body {
  width: fit-content;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  background-color: var(--color-50);
}

.common-style {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em #000000bb;
  background-color: var(--color-200);
}

.link-button {
  background-color: var(--color-500);
  color: #ffffffbb;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

.link-button:hover {
  cursor: pointer;
  background-color: var(--color-600);
  color: #ffffff;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

.link-button:active {
  background-color: var(--color-700);
  color: #ffffffbb;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* Estilos para pantallas con un minimo de 601px de ancho */
@media only screen and (min-width: 601px) {
  #body-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em;
    gap: 1em;
  }

  .inicio {
    grid-column: 4 span;
  }
}

/* Estilos para pantallas con un maximo de 600px de ancho */
@media only screen and (max-width: 600px) {
  #body-div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 1em;
  }
}
