body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  background-color: #b9b9b9;
}

#body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000bb;
  background-color: #b9b9b9;
}

#items {
  display: inline-flex;
  gap: 50px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000bb;
  background-color: #b9b9b9;
}

#link-button {
  display: inline-flex;
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #d3d3d3;
  box-shadow: 0 0 10px #000000bb;
  border-radius: 10px;
}
