body {
  width: fit-content;
  margin: auto;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  background-color: #90b7f3;
}

#body-div {
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 1em;
}

.common-style {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em #000000bb;
}

#select-button,
#copy-button,
#link-button {
  cursor: pointer;
  background-color: #d3d3d3;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

#file-input {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #85a7da;
}

textarea {
  height: 100%;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}
