body {
  width: fit-content;
  margin: auto;
  font-family: "Rubik Doodle Shadow", sans-serif;
  text-align: center;
  background-color: #4a6080;
}

.common-style {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em #000000bb;
}

#select-button,
#compare-button,
#copy-button,
#link-button {
  cursor: pointer;
  background-color: #d3d3d3;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

#file-input {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #607ba5;
}

textarea {
  height: 100%;
  box-shadow: 0 0 2em #000000bb;
  border-radius: 1em;
}

@media only screen and (max-width: 600px) {
  #body-div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 1em;
  }
}

@media only screen and (min-width: 601px) {
  #body-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    gap: 1em;
  }

  .inicio {
    grid-column: 2 span;
  }
}
